.header{
    display:block;
	text-align:center;
    background-color: #444;
    padding:20px;
    width:100%;
    overflow:hidden;
    border-bottom:1px solid #444;
    font-size:16.5px;
    font-family: 'Open Sans',sans-serif;
    color: white;
	text-shadow: 2px 2px 4px #000000;
}
.logo{
    margin:5px 40px 5px;
    float:left;
}
.h1{
    display:block;
    font-family: 'Open Sans',sans-serif;
	text-align:center;

    text-shadow: 2px 2px 4px white;
}
.hidden{
  display:none;
}
ul {
    list-style-type: none;
    margin:0;
    padding:10px;
    background-color: #444;
    overflow:hidden;
    width:%;
    height: 105px;
    float:left;
	text-align:center;


    font-family: 'Open Sans',sans-serif;
}
li a {
    display: block;
    color: #000;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    color: white;
}

li a:hover {
    background-color: #555;
    color: white;
}

}

.rcorners1 {
    border-radius: 15px;
    background: #444;
    padding: 0px;
    width: 130px;
    height: 35px;
	color:white;
  position:absolute;
  left:515px;
}

.rcorners2 {
    border-radius: 15px;
    background: #444;
    padding: 0px;
    width: 130px;
    height: 35px;
	color:white;
  position:absolute;
  left:705px;
}

.rcorners3 {
    border-radius: 15px;
    background: #444;
    padding: 0px;
    width: 130px;
    height: 35px;
	color:white;
  position:absolute;
  left:920px;
}

input[type="checkbox"]{
  width:17px;
  height:17px;
  cursor:pointer;
}

table{
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}

tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: center;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: center;
}

td.text-left {
  text-align: center;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: center;
}
